
{% assign ten_minutes_from_now = "in 10 minutes" | to_time %}

{% parse_json "data" %}
{
  "credit_card_id": "{{ credit_card_id }}",
  "amount": "{{ amount }}",
  "expires_in": "{{ ten_minutes_from_now }}"
}
{% endparse_json %}

{%- capture "signature" -%}
{% include 'modules/payments/shared/calculate_signature',
data: data,
redirect_to: null
%}
{%- endcapture -%}

<form action="/payments/api/create_payment " method="POST">
  {% for prop in data %}
    <input type="hidden" name="{{ prop[0] }}" value="{{ prop[1] }}">
  {% endfor %}
  <input type="hidden" name="signature" value="{{ signature }}">
  <button type="submit" class="btn btn-info">API Pay {{ amount  | pricify_cents }}</button>
</form>
